extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to update. Please enter the correct ID 
  else
   - let curriculumid = toShow._id 
   - let courseName = toShow.courseName 
   - let department = toShow.department 
   - let credits = toShow.credits 
   
   
   form(id='curriculumForm', action= "/resource/curriculum/" + curriculumid , method="PUT") 
    div.row(class='mb-2')            ID is #{curriculumid} 
    div(class=mb1)
      div.form-group 
        label.curriculumAttr(for='courseName') Course Name
        input#courseName(type='text', name='courseName', value= courseName ) 
      div.form-group 
        label.curriculumAttr(for='department') Department 
        input#Department(type='text', name='department', value= department ) 
      div.form-group 
        label.curriculumAttr(for='credits') Credits 
        input#credits(type='number', name='credits', value= credits ) 
    input(type="submit" class ="btn btn-success" style="position:relative,align:center") 
 
   script. 
    document.forms['curriculumForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 