extends layout

block content
  h1 Search results Curriculum 
  -  var results = results;
  div.container-fluid
    div.row
      each value,index in results 
        div.col-sm-2(onclick=`buy(${index})`) CourseName: #{value["courseName"]}  <hr>  Department: #{value["department"]} <hr> Credits: #{value["credits"]}
  script.
      function buy(index){
         alert("you purchased item "+(index+1))
      }         
  
   

